
*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #e4000f;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0001fc ;
}
nav ul{
    list-style: none;
    display: flex;
    
}

li{
    margin-right:  20px; ;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size:larger ;

}
nav a:hover{
    color: rgb(125, 226, 43);
}

.welcome {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background-size: cover;
     height: 720px;
     text-align: center;
     width: auto;
     background-image: url('mario7.jpeg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;     
}


.welcome h2{
    font-size: 30px;
    position: absolute;
    top: 23%;
    color: #fff;
}



.welcome button {
    position: absolute;
    top: 37%;
    left: 46%;

    background-color: #d80000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
}

.welcome button:hover {
    background-color: #ff4d4d;
  }

  body{
    background-color: red;
  }

.about{
    text-align: center;
    padding: 20px;
}

.about h2{
font-size: 40px;
margin-bottom:  20px;
color: #fff;
}

.about p{
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 20px;
    color: #fff;
}

.s button{
    

    background-color: gold;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;   
}
.s{
    text-align: center;

}
.s button:hover{
    background-color: greenyellow;     
}
.s h2{
    color: #fff;
}





